*{
    padding:0;
    margin:0;
}
nav{
    color: white;
    background-color: black;
    padding: 30px;
}
ul,li,h1{
    display: inline;
}
ul{
    margin-left: 60%;
}
li {
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar {
    padding: 25px;
   text-align: center;
}
.box {
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

.box:hover{
    background-color: black;
    color: white;
}
.products {
    text-align: center;
}
.About {
    text-align: center;
    margin-top: 25px;
    padding: 20px;
}
.contact {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px;

}
p {
    text-align: center;
    padding-top: 20px;
}















https://media.istockphoto.com/id/1256869305/vector/congrats-poster-with-open-gift-box-ribbons-and-confetti-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=St3xCt1AzcjwDqyUbnFxqyTIHtooiq5P8MkcnRUBS3c=